# Scheme name: {{scheme-name}}
# Scheme system: {{scheme-system}}
# Scheme author: {{scheme-author}}
# Template author: Tinted Theming (https://github.com/tinted-theming)

$ENV:FZF_DEFAULT_OPTS=@"
--color=bg:#{{base00-hex}},fg:#{{base05-hex}},hl:#{{base09-hex}}
--color=bg+:#{{base02-hex}},fg+:#{{base14-hex}},hl+:#{{base13-hex}}
--color=info:#{{base0E-hex}},border:#{{base0E-hex}},prompt:#{{base0B-hex}}
--color=pointer:#{{base0D-hex}},marker:#{{base12-hex}},spinner:#{{base12-hex}},header:#{{base08-hex}}
"@
