# {{scheme-system}}-{{scheme-name}}
# Scheme author: {{scheme-author}}
# Template author: Tinted Theming (https://github.com/tinted-theming)

export FZF_DEFAULT_OPTS=" \
 --color=bg:#{{base00-hex}},fg:#{{base05-hex}},hl:#{{base09-hex}}\
 --color=bg+:#{{base02-hex}},fg+:#{{base05-hex}},hl+:#{{base13-hex}}\
 --color=info:#{{base16-hex}},border:#{{base0D-hex}},prompt:#{{base0B-hex}}\
 --color=pointer:#{{base00-hex}},marker:#{{base12-hex}},spinner:#{{base12-hex}},header:#{{base08-hex}}"
