# Scheme name: lime
# Scheme system: base16
# Scheme author: limelier
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1a1a2f'
local color01='#202030'
local color02='#2a2a3f'
local color03='#313140'
local color04='#515155'
local color05='#818175'
local color06='#fff2d1'
local color07='#fff8e1'
local color08='#ff662a'
local color09='#ff773a'
local color0A='#ffd15e'
local color0B='#8cd97c'
local color0C='#4cad83'
local color0D='#2b926f'
local color0E='#1b825f'
local color0F='#b4d97c'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
