# Base16 Gigavolt
# Author: Aidan Swope (http://github.com/Whillikers)

_gen_fzf_default_opts() {

local color00='#202126'
local color01='#2d303d'
local color02='#5a576e'
local color03='#a1d2e6'
local color04='#cad3ff'
local color05='#e9e7e1'
local color06='#eff0f9'
local color07='#f2fbff'
local color08='#ff661a'
local color09='#19f988'
local color0A='#ffdc2d'
local color0B='#f2e6a9'
local color0C='#fb6acb'
local color0D='#40bfff'
local color0E='#ae94f9'
local color0F='#6187ff'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
