# Base16 Apprentice
# Author: romainl

_gen_fzf_default_opts() {

local color00='#262626'
local color01='#303030'
local color02='#333333'
local color03='#6C6C6C'
local color04='#787878'
local color05='#BCBCBC'
local color06='#C9C9C9'
local color07='#FFFFFF'
local color08='#5F8787'
local color09='#FF8700'
local color0A='#5F8787'
local color0B='#87AF87'
local color0C='#5F875F'
local color0D='#FFFFAF'
local color0E='#87AFD7'
local color0F='#5F87AF'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
