# Scheme name: Cerulean Signal Light
# Scheme system: base16
# Scheme author: Aaron Colichia (https://aaron.colichia.org/)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#f7f9fc'
local color01='#eef4fb'
local color02='#dde7f1'
local color03='#637287'
local color04='#566579'
local color05='#232b38'
local color06='#202b3a'
local color07='#141d2a'
local color08='#b4233d'
local color09='#9a4f00'
local color0A='#6f6300'
local color0B='#17795e'
local color0C='#00727e'
local color0D='#006fa8'
local color0E='#a0007d'
local color0F='#7a4e3c'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
