# Base16 Heetch Light
# Author: Geoffrey Teale (tealeg@gmail.com)

_gen_fzf_default_opts() {

local color00='#feffff'
local color01='#392551'
local color02='#7b6d8b'
local color03='#9c92a8'
local color04='#ddd6e5'
local color05='#5a496e'
local color06='#470546'
local color07='#190134'
local color08='#27d9d5'
local color09='#bdb6c5'
local color0A='#5ba2b6'
local color0B='#f80059'
local color0C='#c33678'
local color0D='#47f9f5'
local color0E='#bd0152'
local color0F='#dedae2'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
