# Scheme name: Cyberpunk
# Scheme system: base16
# Scheme author: benjujo
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#2b2b2b'
local color02='#383838'
local color03='#4f4f4f'
local color04='#8b8989'
local color05='#dcdccc'
local color06='#f8f8f8'
local color07='#ffffff'
local color08='#ff0000'
local color09='#ffa500'
local color0A='#ffff00'
local color0B='#61ce3c'
local color0C='#93e0e3'
local color0D='#4c83ff'
local color0E='#ff1493'
local color0F='#ff8c00'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
