# Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)

_gen_fzf_default_opts() {

local color00='#FDF0ED'
local color01='#FADAD1'
local color02='#F9CBBE'
local color03='#BDB3B1'
local color04='#948C8A'
local color05='#403C3D'
local color06='#302C2D'
local color07='#201C1D'
local color08='#E95678'
local color09='#F9CEC3'
local color0A='#FADAD1'
local color0B='#29D398'
local color0C='#59E1E3'
local color0D='#26BBD9'
local color0E='#EE64AC'
local color0F='#F9CBBE'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
