# Scheme name: Spaceduck
# Scheme system: base16
# Scheme author: Guillermo Rodriguez (https://github.com/pineapplegiant), packaged by Gabriel Fontes (https://github.com/Misterio77)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#16172d'
local color01='#1b1c36'
local color02='#30365f'
local color03='#686f9a'
local color04='#818596'
local color05='#ecf0c1'
local color06='#c1c3cc'
local color07='#ffffff'
local color08='#e33400'
local color09='#e39400'
local color0A='#f2ce00'
local color0B='#5ccc96'
local color0C='#00a3cc'
local color0D='#7a5ccc'
local color0E='#b3a1e6'
local color0F='#ce6f8f'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
