# Base16 Monokai
# Author: Wimer Hazenberg (http://www.monokai.nl)

_gen_fzf_default_opts() {

local color00='#272822'
local color01='#383830'
local color02='#49483e'
local color03='#75715e'
local color04='#a59f85'
local color05='#f8f8f2'
local color06='#f5f4f1'
local color07='#f9f8f5'
local color08='#f92672'
local color09='#fd971f'
local color0A='#f4bf75'
local color0B='#a6e22e'
local color0C='#a1efe4'
local color0D='#66d9ef'
local color0E='#ae81ff'
local color0F='#cc6633'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
