# Base16 Isotope
# Author: Jan T. Sott

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#404040'
local color02='#606060'
local color03='#808080'
local color04='#c0c0c0'
local color05='#d0d0d0'
local color06='#e0e0e0'
local color07='#ffffff'
local color08='#ff0000'
local color09='#ff9900'
local color0A='#ff0099'
local color0B='#33ff00'
local color0C='#00ffff'
local color0D='#0066ff'
local color0E='#cc00ff'
local color0F='#3300ff'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
