# Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)

_gen_fzf_default_opts() {

local color00='#FDF0ED'
local color01='#FADAD1'
local color02='#F9CBBE'
local color03='#BDB3B1'
local color04='#948C8A'
local color05='#403C3D'
local color06='#302C2D'
local color07='#201C1D'
local color08='#F7939B'
local color09='#F6661E'
local color0A='#FBE0D9'
local color0B='#94E1B0'
local color0C='#DC3318'
local color0D='#DA103F'
local color0E='#1D8991'
local color0F='#E58C92'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
