# Base16 Pico
# Author: PICO-8 (http://www.lexaloffle.com/pico-8.php)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#1d2b53'
local color02='#7e2553'
local color03='#008751'
local color04='#ab5236'
local color05='#5f574f'
local color06='#c2c3c7'
local color07='#fff1e8'
local color08='#ff004d'
local color09='#ffa300'
local color0A='#fff024'
local color0B='#00e756'
local color0C='#29adff'
local color0D='#83769c'
local color0E='#ff77a8'
local color0F='#ffccaa'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
