# Base16 Windows 10
# Author: Fergus Collins (https://github.com/C-Fergus)

_gen_fzf_default_opts() {

local color00='#0c0c0c'
local color01='#2f2f2f'
local color02='#535353'
local color03='#767676'
local color04='#b9b9b9'
local color05='#cccccc'
local color06='#dfdfdf'
local color07='#f2f2f2'
local color08='#e74856'
local color09='#c19c00'
local color0A='#f9f1a5'
local color0B='#16c60c'
local color0C='#61d6d6'
local color0D='#3b78ff'
local color0E='#b4009e'
local color0F='#13a10e'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
