# Scheme name: Ashes
# Scheme system: base16
# Scheme author: Jannik Siebert (https://github.com/janniks)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1c2023'
local color01='#393f45'
local color02='#565e65'
local color03='#747c84'
local color04='#adb3ba'
local color05='#c7ccd1'
local color06='#dfe2e5'
local color07='#f3f4f5'
local color08='#c7ae95'
local color09='#c7c795'
local color0A='#aec795'
local color0B='#95c7ae'
local color0C='#95aec7'
local color0D='#ae95c7'
local color0E='#c795ae'
local color0F='#c79595'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
