# Base16 Humanoid light
# Author: Thomas (tasmo) Friese

_gen_fzf_default_opts() {

local color00='#f8f8f2'
local color01='#efefe9'
local color02='#deded8'
local color03='#c0c0bd'
local color04='#60615d'
local color05='#232629'
local color06='#2f3337'
local color07='#070708'
local color08='#b0151a'
local color09='#ff3d00'
local color0A='#ffb627'
local color0B='#388e3c'
local color0C='#008e8e'
local color0D='#0082c9'
local color0E='#700f98'
local color0F='#b27701'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
