# Scheme name: Neovim Light
# Scheme system: base16
# Scheme author: https://github.com/neovim/neovim/blob/master/src/nvim/highlight_group.c
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#e0e2ea'
local color01='#eef1f8'
local color02='#9b9ea4'
local color03='#4f5258'
local color04='#2c2e33'
local color05='#14161b'
local color06='#07080d'
local color07='#07080d'
local color08='#590008'
local color09='#8b4513'
local color0A='#6b5300'
local color0B='#005523'
local color0C='#007373'
local color0D='#004c73'
local color0E='#470045'
local color0F='#a52a2a'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
