# Base16 Tokyo City Terminal Dark
# Author: Michaël Ball

_gen_fzf_default_opts() {

local color00='#171D23'
local color01='#1D252C'
local color02='#28323A'
local color03='#526270'
local color04='#B7C5D3'
local color05='#D8E2EC'
local color06='#F6F6F8'
local color07='#FBFBFD'
local color08='#D95468'
local color09='#FF9E64'
local color0A='#EBBF83'
local color0B='#8BD49C'
local color0C='#70E1E8'
local color0D='#539AFC'
local color0E='#B62D65'
local color0F='#DD9D82'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
