# Scheme name: Tokyodark Terminal
# Scheme system: base16
# Scheme author: Tiagovla (https://github.com/tiagovla/)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#11121d'
local color01='#1a1b2a'
local color02='#212234'
local color03='#282c34'
local color04='#4a5057'
local color05='#a0a8cd'
local color06='#a0a8cd'
local color07='#a0a8cd'
local color08='#ee6d85'
local color09='#f6955b'
local color0A='#d7a65f'
local color0B='#95c561'
local color0C='#38a89d'
local color0D='#7199ee'
local color0E='#a485dd'
local color0F='#773440'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
