# Base16 Kanagawa
# Author: Tommaso Laurenzi (https://github.com/rebelot)

_gen_fzf_default_opts() {

local color00='#1F1F28'
local color01='#16161D'
local color02='#223249'
local color03='#54546D'
local color04='#727169'
local color05='#DCD7BA'
local color06='#C8C093'
local color07='#717C7C'
local color08='#C34043'
local color09='#FFA066'
local color0A='#C0A36E'
local color0B='#76946A'
local color0C='#6A9589'
local color0D='#7E9CD8'
local color0E='#957FB8'
local color0F='#D27E99'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
