# Scheme name: Sequoia Moonlight Light
# Scheme system: base16
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#edeef2'
local color01='#e2e3e8'
local color02='#e2e3e8'
local color03='#565760'
local color04='#42434e'
local color05='#282930'
local color06='#282930'
local color07='#0f1014'
local color08='#c94da8'
local color09='#c94da8'
local color0A='#6a6a78'
local color0B='#4a85d4'
local color0C='#d9884a'
local color0D='#9a5fd9'
local color0E='#6a6a78'
local color0F='#4a85d4'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
