# Base16 EverForest
# Author: sainnhe

_gen_fzf_default_opts() {

local color00='#2b3339'
local color01='#323c41'
local color02='#3a4248'
local color03='#868d80'
local color04='#a59572'
local color05='#d3c6aa'
local color06='#e9e8d2'
local color07='#fff9e8'
local color08='#e67e80'
local color09='#e69875'
local color0A='#dbbc7f'
local color0B='#a7c080'
local color0C='#83c092'
local color0D='#7fbbb3'
local color0E='#d699b6'
local color0F='#d699b6'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
