# Base16 Windows 95
# Author: Fergus Collins (https://github.com/C-Fergus)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#1C1C1C'
local color02='#383838'
local color03='#545454'
local color04='#7e7e7e'
local color05='#a8a8a8'
local color06='#d2d2d2'
local color07='#fcfcfc'
local color08='#fc5454'
local color09='#a85400'
local color0A='#fcfc54'
local color0B='#54fc54'
local color0C='#54fcfc'
local color0D='#5454fc'
local color0E='#fc54fc'
local color0F='#00a800'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
