# Base16 vulcan
# Author: Andrey Varfolomeev

_gen_fzf_default_opts() {

local color00='#041523'
local color01='#122339'
local color02='#003552'
local color03='#7a5759'
local color04='#6b6977'
local color05='#5b778c'
local color06='#333238'
local color07='#214d68'
local color08='#818591'
local color09='#9198a3'
local color0A='#adb4b9'
local color0B='#977d7c'
local color0C='#977d7c'
local color0D='#977d7c'
local color0E='#9198a3'
local color0F='#977d7c'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
