# Base16 Shades of Purple
# Author: Iolar Demartini Junior (http://github.com/demartini) based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).

_gen_fzf_default_opts() {

local color00='#1e1e3f'
local color01='#43d426'
local color02='#f1d000'
local color03='#808080'
local color04='#6871ff'
local color05='#c7c7c7'
local color06='#ff77ff'
local color07='#ffffff'
local color08='#d90429'
local color09='#f92a1c'
local color0A='#ffe700'
local color0B='#3ad900'
local color0C='#00c5c7'
local color0D='#6943ff'
local color0E='#ff2c70'
local color0F='#79e8fb'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
