# Scheme name: SAGA
# Scheme system: base16
# Scheme author: https://github.com/SAGAtheme/SAGA
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#05080a'
local color01='#0a1014'
local color02='#0f181e'
local color03='#141f27'
local color04='#192630'
local color05='#dce2f7'
local color06='#f8eae7'
local color07='#ccd3fe'
local color08='#ffd4e9'
local color09='#fbcbae'
local color0A='#fbebc8'
local color0B='#f7ddff'
local color0C='#c5edc1'
local color0D='#c9fff7'
local color0E='#dcc3f9'
local color0F='#f6dddd'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
