# Base16 Ocean
# Author: Chris Kempson (http://chriskempson.com)

_gen_fzf_default_opts() {

local color00='#2b303b'
local color01='#343d46'
local color02='#4f5b66'
local color03='#65737e'
local color04='#a7adba'
local color05='#c0c5ce'
local color06='#dfe1e8'
local color07='#eff1f5'
local color08='#bf616a'
local color09='#d08770'
local color0A='#ebcb8b'
local color0B='#a3be8c'
local color0C='#96b5b4'
local color0D='#8fa1b3'
local color0E='#b48ead'
local color0F='#ab7967'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
