# Scheme name: OceanicNext
# Scheme system: base16
# Scheme author: https://github.com/voronianski/oceanic-next-color-scheme
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1b2b34'
local color01='#343d46'
local color02='#4f5b66'
local color03='#65737e'
local color04='#a7adba'
local color05='#c0c5ce'
local color06='#cdd3de'
local color07='#d8dee9'
local color08='#ec5f67'
local color09='#f99157'
local color0A='#fac863'
local color0B='#99c794'
local color0C='#5fb3b3'
local color0D='#6699cc'
local color0E='#c594c5'
local color0F='#ab7967'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
