# Base16 Windows NT Light
# Author: Fergus Collins (https://github.com/C-Fergus)

_gen_fzf_default_opts() {

local color00='#ffffff'
local color01='#eaeaea'
local color02='#d5d5d5'
local color03='#c0c0c0'
local color04='#a0a0a0'
local color05='#808080'
local color06='#404040'
local color07='#000000'
local color08='#800000'
local color09='#ffff00'
local color0A='#808000'
local color0B='#008000'
local color0C='#008080'
local color0D='#000080'
local color0E='#800080'
local color0F='#00ff00'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
