# Base16 Edge Light
# Author: cjayross (https://github.com/cjayross)

_gen_fzf_default_opts() {

local color00='#fafafa'
local color01='#7c9f4b'
local color02='#d69822'
local color03='#5e646f'
local color04='#6587bf'
local color05='#5e646f'
local color06='#b870ce'
local color07='#5e646f'
local color08='#db7070'
local color09='#db7070'
local color0A='#d69822'
local color0B='#7c9f4b'
local color0C='#509c93'
local color0D='#6587bf'
local color0E='#b870ce'
local color0F='#509c93'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
