# Scheme name: Darktooth
# Scheme system: base16
# Scheme author: Jason Milkins (https://github.com/jasonm23)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1d2021'
local color01='#32302f'
local color02='#504945'
local color03='#665c54'
local color04='#928374'
local color05='#a89984'
local color06='#d5c4a1'
local color07='#fdf4c1'
local color08='#fb543f'
local color09='#fe8625'
local color0A='#fac03b'
local color0B='#95c085'
local color0C='#8ba59b'
local color0D='#0d6678'
local color0E='#8f4673'
local color0F='#a87322'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
