# Base16 Nova
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)

_gen_fzf_default_opts() {

local color00='#3C4C55'
local color01='#556873'
local color02='#6A7D89'
local color03='#899BA6'
local color04='#899BA6'
local color05='#C5D4DD'
local color06='#899BA6'
local color07='#556873'
local color08='#83AFE5'
local color09='#7FC1CA'
local color0A='#A8CE93'
local color0B='#7FC1CA'
local color0C='#F2C38F'
local color0D='#83AFE5'
local color0E='#9A93E1'
local color0F='#F2C38F'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
