# Base16 Catppuccin
# Author: Pocco81 (https://github.com/pocco81)

_gen_fzf_default_opts() {

local color00='#1E1E28'
local color01='#1A1826'
local color02='#302D41'
local color03='#575268'
local color04='#6E6C7C'
local color05='#D7DAE0'
local color06='#F5E0DC'
local color07='#C9CBFF'
local color08='#F28FAD'
local color09='#F8BD96'
local color0A='#FAE3B0'
local color0B='#ABE9B3'
local color0C='#B5E8E0'
local color0D='#96CDFB'
local color0E='#DDB6F2'
local color0F='#F2CDCD'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
