# Base16 Twilight
# Author: David Hart (https://github.com/hartbit)

_gen_fzf_default_opts() {

local color00='#1e1e1e'
local color01='#323537'
local color02='#464b50'
local color03='#5f5a60'
local color04='#838184'
local color05='#a7a7a7'
local color06='#c3c3c3'
local color07='#ffffff'
local color08='#cf6a4c'
local color09='#cda869'
local color0A='#f9ee98'
local color0B='#8f9d6a'
local color0C='#afc4db'
local color0D='#7587a6'
local color0E='#9b859d'
local color0F='#9b703f'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
