# Base16 dirtysea
# Author: Kahlil (Kal) Hodgson

_gen_fzf_default_opts() {

local color00='#e0e0e0'
local color01='#d0dad0'
local color02='#d0d0d0'
local color03='#707070'
local color04='#202020'
local color05='#000000'
local color06='#f8f8f8'
local color07='#c4d9c4'
local color08='#840000'
local color09='#006565'
local color0A='#755B00'
local color0B='#730073'
local color0C='#755B00'
local color0D='#007300'
local color0E='#000090'
local color0F='#755B00'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
