# Base16 Brewer
# Author: Timothée Poisot (http://github.com/tpoisot)

_gen_fzf_default_opts() {

local color00='#0c0d0e'
local color01='#2e2f30'
local color02='#515253'
local color03='#737475'
local color04='#959697'
local color05='#b7b8b9'
local color06='#dadbdc'
local color07='#fcfdfe'
local color08='#e31a1c'
local color09='#e6550d'
local color0A='#dca060'
local color0B='#31a354'
local color0C='#80b1d3'
local color0D='#3182bd'
local color0E='#756bb1'
local color0F='#b15928'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
