# Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)

_gen_fzf_default_opts() {

local color00='#282B35'
local color01='#3D4048'
local color02='#53555D'
local color03='#686A71'
local color04='#7E8086'
local color05='#939599'
local color06='#A9AAAE'
local color07='#BEBFC2'
local color08='#B21889'
local color09='#786DC5'
local color0A='#438288'
local color0B='#DF0002'
local color0C='#00A0BE'
local color0D='#790EAD'
local color0E='#B21889'
local color0F='#C77C48'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
