# Base16 Google Light
# Author: Seth Wright (http://sethawright.com)

_gen_fzf_default_opts() {

local color00='#ffffff'
local color01='#e0e0e0'
local color02='#c5c8c6'
local color03='#b4b7b4'
local color04='#969896'
local color05='#373b41'
local color06='#282a2e'
local color07='#1d1f21'
local color08='#CC342B'
local color09='#F96A38'
local color0A='#FBA922'
local color0B='#198844'
local color0C='#3971ED'
local color0D='#3971ED'
local color0E='#A36AC7'
local color0F='#3971ED'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
