# Scheme name: Github Light Colorblind
# Scheme system: base16
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#ffffff'
local color01='#f6f8fa'
local color02='#afb8c1'
local color03='#8c959f'
local color04='#6e7781'
local color05='#424a53'
local color06='#32383f'
local color07='#24292f'
local color08='#8a4600'
local color09='#0550ae'
local color0A='#bf8700'
local color0B='#0a3069'
local color0C='#0550ae'
local color0D='#8250df'
local color0E='#b35900'
local color0F='#6f3800'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
