# Base16 Windows 95 Light
# Author: Fergus Collins (https://github.com/C-Fergus)

_gen_fzf_default_opts() {

local color00='#fcfcfc'
local color01='#e0e0e0'
local color02='#c4c4c4'
local color03='#a8a8a8'
local color04='#7e7e7e'
local color05='#545454'
local color06='#2a2a2a'
local color07='#000000'
local color08='#a80000'
local color09='#fcfc54'
local color0A='#a85400'
local color0B='#00a800'
local color0C='#00a8a8'
local color0D='#0000a8'
local color0E='#a800a8'
local color0F='#54fc54'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
