# Base16 Fruit Soda
# Author: jozip

_gen_fzf_default_opts() {

local color00='#f1ecf1'
local color01='#e0dee0'
local color02='#d8d5d5'
local color03='#b5b4b6'
local color04='#979598'
local color05='#515151'
local color06='#474545'
local color07='#2d2c2c'
local color08='#fe3e31'
local color09='#fe6d08'
local color0A='#f7e203'
local color0B='#47f74c'
local color0C='#0f9cfd'
local color0D='#2931df'
local color0E='#611fce'
local color0F='#b16f40'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
