# Base16 Black Metal (Dark Funeral)
# Author: metalelf0 (https://github.com/metalelf0)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#121212'
local color02='#222222'
local color03='#333333'
local color04='#999999'
local color05='#c1c1c1'
local color06='#999999'
local color07='#c1c1c1'
local color08='#5f8787'
local color09='#aaaaaa'
local color0A='#5f81a5'
local color0B='#d0dfee'
local color0C='#aaaaaa'
local color0D='#888888'
local color0E='#999999'
local color0F='#444444'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
