# Base16 Qualia
# Author: isaacwhanson

_gen_fzf_default_opts() {

local color00='#101010'
local color01='#454545'
local color02='#454545'
local color03='#454545'
local color04='#808080'
local color05='#C0C0C0'
local color06='#C0C0C0'
local color07='#454545'
local color08='#EFA6A2'
local color09='#A3B8EF'
local color0A='#E6A3DC'
local color0B='#80C990'
local color0C='#C8C874'
local color0D='#50CACD'
local color0E='#E0AF85'
local color0F='#808080'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
