# Base16 Ayu Dark
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

_gen_fzf_default_opts() {

local color00='#0F1419'
local color01='#131721'
local color02='#272D38'
local color03='#3E4B59'
local color04='#BFBDB6'
local color05='#E6E1CF'
local color06='#E6E1CF'
local color07='#F3F4F5'
local color08='#F07178'
local color09='#FF8F40'
local color0A='#FFB454'
local color0B='#B8CC52'
local color0C='#95E6CB'
local color0D='#59C2FF'
local color0E='#D2A6FF'
local color0F='#E6B673'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
