# Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)

_gen_fzf_default_opts() {

local color00='#190134'
local color01='#392551'
local color02='#5A496E'
local color03='#7B6D8B'
local color04='#9C92A8'
local color05='#BDB6C5'
local color06='#DEDAE2'
local color07='#FEFFFF'
local color08='#27D9D5'
local color09='#5BA2B6'
local color0A='#8F6C97'
local color0B='#C33678'
local color0C='#F80059'
local color0D='#BD0152'
local color0E='#82034C'
local color0F='#470546'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
