# Base16 Tokyo Night Light
# Author: Michaël Ball

_gen_fzf_default_opts() {

local color00='#D5D6DB'
local color01='#CBCCD1'
local color02='#DFE0E5'
local color03='#9699A3'
local color04='#4C505E'
local color05='#343B59'
local color06='#1A1B26'
local color07='#1A1B26'
local color08='#343B58'
local color09='#965027'
local color0A='#166775'
local color0B='#485E30'
local color0C='#3E6968'
local color0D='#34548A'
local color0E='#5A4A78'
local color0F='#8C4351'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
