# Base16 Seti UI
# Author: 

_gen_fzf_default_opts() {

local color00='#151718'
local color01='#282a2b'
local color02='#3B758C'
local color03='#41535B'
local color04='#43a5d5'
local color05='#d6d6d6'
local color06='#eeeeee'
local color07='#ffffff'
local color08='#Cd3f45'
local color09='#db7b55'
local color0A='#e6cd69'
local color0B='#9fca56'
local color0C='#55dbbe'
local color0D='#55b5db'
local color0E='#a074c4'
local color0F='#8a553f'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
