# Scheme name: Ayu Mirage
# Scheme system: base16
# Scheme author: Tinted Theming (https://github.com/tinted-theming), Ayu Theme (https://github.com/ayu-theme)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1f2430'
local color01='#242936'
local color02='#323844'
local color03='#4a5059'
local color04='#707a8c'
local color05='#cccac2'
local color06='#d9d7ce'
local color07='#f3f4f5'
local color08='#f28779'
local color09='#ffad66'
local color0A='#ffd173'
local color0B='#d5ff80'
local color0C='#95e6cb'
local color0D='#73d0ff'
local color0E='#d4bfff'
local color0F='#f27983'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
