# Base16 Bespin
# Author: Jan T. Sott

_gen_fzf_default_opts() {

local color00='#28211c'
local color01='#36312e'
local color02='#5e5d5c'
local color03='#666666'
local color04='#797977'
local color05='#8a8986'
local color06='#9d9b97'
local color07='#baae9e'
local color08='#cf6a4c'
local color09='#cf7d34'
local color0A='#f9ee98'
local color0B='#54be0d'
local color0C='#afc4db'
local color0D='#5ea6ea'
local color0E='#9b859d'
local color0F='#937121'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
