# Base16 Humanoid dark
# Author: Thomas (tasmo) Friese

_gen_fzf_default_opts() {

local color00='#232629'
local color01='#333b3d'
local color02='#484e54'
local color03='#60615d'
local color04='#c0c0bd'
local color05='#f8f8f2'
local color06='#fcfcf6'
local color07='#fcfcfc'
local color08='#f11235'
local color09='#ff9505'
local color0A='#ffb627'
local color0B='#02d849'
local color0C='#0dd9d6'
local color0D='#00a6fb'
local color0E='#f15ee3'
local color0F='#b27701'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
