# Scheme name: Sparky
# Scheme system: base16
# Scheme author: Leila Sother (https://github.com/mixcoac)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#072b31'
local color01='#00313c'
local color02='#003c46'
local color03='#003b49'
local color04='#00778b'
local color05='#f4f5f0'
local color06='#f5f5f1'
local color07='#ffffff'
local color08='#ff585d'
local color09='#ff8f1c'
local color0A='#fbdd40'
local color0B='#78d64b'
local color0C='#2dccd3'
local color0D='#4698cb'
local color0E='#d59ed7'
local color0F='#9b704d'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
