# Base16 Sandcastle
# Author: George Essig (https://github.com/gessig)

_gen_fzf_default_opts() {

local color00='#282c34'
local color01='#2c323b'
local color02='#3e4451'
local color03='#665c54'
local color04='#928374'
local color05='#a89984'
local color06='#d5c4a1'
local color07='#fdf4c1'
local color08='#83a598'
local color09='#a07e3b'
local color0A='#a07e3b'
local color0B='#528b8b'
local color0C='#83a598'
local color0D='#83a598'
local color0E='#d75f5f'
local color0F='#a87322'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
