# Base16 Horizon Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

_gen_fzf_default_opts() {

local color00='#1C1E26'
local color01='#232530'
local color02='#2E303E'
local color03='#6F6F70'
local color04='#9DA0A2'
local color05='#CBCED0'
local color06='#DCDFE4'
local color07='#E3E6EE'
local color08='#E93C58'
local color09='#E58D7D'
local color0A='#EFB993'
local color0B='#EFAF8E'
local color0C='#24A8B4'
local color0D='#DF5273'
local color0E='#B072D1'
local color0F='#E4A382'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
