# Scheme name: selenized-black
# Scheme system: base16
# Scheme author: Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#181818'
local color01='#252525'
local color02='#3b3b3b'
local color03='#777777'
local color04='#777777'
local color05='#b9b9b9'
local color06='#dedede'
local color07='#dedede'
local color08='#ed4a46'
local color09='#e67f43'
local color0A='#dbb32d'
local color0B='#70b433'
local color0C='#3fc5b7'
local color0D='#368aeb'
local color0E='#a580e2'
local color0F='#eb6eb7'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
