# Base16 DanQing
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

_gen_fzf_default_opts() {

local color00='#2d302f'
local color01='#434846'
local color02='#5a605d'
local color03='#9da8a3'
local color04='#cad8d2'
local color05='#e0f0eF'
local color06='#ecf6f2'
local color07='#fcfefd'
local color08='#F9906F'
local color09='#B38A61'
local color0A='#F0C239'
local color0B='#8AB361'
local color0C='#30DFF3'
local color0D='#B0A4E3'
local color0E='#CCA4E3'
local color0F='#CA6924'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
