# Scheme name: Jellybeans
# Scheme system: base16
# Scheme author: FredHappyface (https://github.com/fredHappyface), converted to Base16 by https://github.com/nonetrix
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#121212'
local color01='#929292'
local color02='#bdbdbd'
local color03='#c5c5c5'
local color04='#cdcdcd'
local color05='#d5d5d5'
local color06='#dedede'
local color07='#ffffff'
local color08='#ffa1a1'
local color09='#ffba7b'
local color0A='#ffdca0'
local color0B='#bddeab'
local color0C='#1ab2a8'
local color0D='#b1d8f6'
local color0E='#fbdaff'
local color0F='#713939'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
