# Base16 Tokyo City Dark
# Author: Michaël Ball

_gen_fzf_default_opts() {

local color00='#171D23'
local color01='#1D252C'
local color02='#28323A'
local color03='#526270'
local color04='#B7C5D3'
local color05='#D8E2EC'
local color06='#F6F6F8'
local color07='#FBFBFD'
local color08='#F7768E'
local color09='#FF9E64'
local color0A='#B7C5D3'
local color0B='#9ECE6A'
local color0C='#89DDFF'
local color0D='#7AA2F7'
local color0E='#BB9AF7'
local color0F='#BB9AF7'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
