# Scheme name: Primer Light
# Scheme system: base16
# Scheme author: Jimmy Lin
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#fafbfc'
local color01='#e1e4e8'
local color02='#d1d5da'
local color03='#959da5'
local color04='#444d56'
local color05='#2f363d'
local color06='#24292e'
local color07='#1b1f23'
local color08='#d73a49'
local color09='#f66a0a'
local color0A='#ffd33d'
local color0B='#28a745'
local color0C='#79b8ff'
local color0D='#0366d6'
local color0E='#ea4aaa'
local color0F='#a04100'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
