# Base16 better-contrast
# Author: Ben Mayoras

_gen_fzf_default_opts() {

local color00='#182430'
local color01='#243C54'
local color02='#46290A'
local color03='#616D78'
local color04='#74AFE7'
local color05='#C8E1F8'
local color06='#DDEAF6'
local color07='#8F98A0'
local color08='#4CE587'
local color09='#F6A85C'
local color0A='#82AAFF'
local color0B='#C3E88D'
local color0C='#5FD1FF'
local color0D='#82AAFF'
local color0E='#FF84DD'
local color0F='#BBD2E8'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
