# Scheme name: 0x96f
# Scheme system: base16
# Scheme author: Filip Janevski (https://0x96f.dev/theme)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#262427'
local color01='#3b393c'
local color02='#514f52'
local color03='#676567'
local color04='#7c7b7d'
local color05='#fcfcfc'
local color06='#eae9eb'
local color07='#fcfcfc'
local color08='#ff7272'
local color09='#fc9d6f'
local color0A='#ffca58'
local color0B='#bcdf59'
local color0C='#aee8f4'
local color0D='#49cae4'
local color0E='#a093e2'
local color0F='#ff8787'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
