# Scheme name: Kimber
# Scheme system: base16
# Scheme author: Mishka Nguyen (https://github.com/akhsiM)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#222222'
local color01='#313131'
local color02='#555d55'
local color03='#644646'
local color04='#5a5a5a'
local color05='#dedee7'
local color06='#c3c3b4'
local color07='#ffffe6'
local color08='#c88c8c'
local color09='#476c88'
local color0A='#d8b56d'
local color0B='#99c899'
local color0C='#78b4b4'
local color0D='#537c9c'
local color0E='#86cacd'
local color0F='#704f4f'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
