# Base16 iA Dark
# Author: iA Inc. (modified by aramisgithub)

_gen_fzf_default_opts() {

local color00='#1a1a1a'
local color01='#222222'
local color02='#1d414d'
local color03='#767676'
local color04='#b8b8b8'
local color05='#cccccc'
local color06='#e8e8e8'
local color07='#f8f8f8'
local color08='#d88568'
local color09='#d86868'
local color0A='#b99353'
local color0B='#83a471'
local color0C='#7c9cae'
local color0D='#8eccdd'
local color0E='#b98eb2'
local color0F='#8b6c37'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
