# Base16 Codeschool
# Author: blockloop

_gen_fzf_default_opts() {

local color00='#232c31'
local color01='#1c3657'
local color02='#2a343a'
local color03='#3f4944'
local color04='#84898c'
local color05='#9ea7a6'
local color06='#a7cfa3'
local color07='#b5d8f6'
local color08='#2a5491'
local color09='#43820d'
local color0A='#a03b1e'
local color0B='#237986'
local color0C='#b02f30'
local color0D='#484d79'
local color0E='#c59820'
local color0F='#c98344'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
