# Base16 Cupcake
# Author: Chris Kempson (http://chriskempson.com)

_gen_fzf_default_opts() {

local color00='#fbf1f2'
local color01='#f2f1f4'
local color02='#d8d5dd'
local color03='#bfb9c6'
local color04='#a59daf'
local color05='#8b8198'
local color06='#72677E'
local color07='#585062'
local color08='#D57E85'
local color09='#EBB790'
local color0A='#DCB16C'
local color0B='#A3B367'
local color0C='#69A9A7'
local color0D='#7297B9'
local color0E='#BB99B4'
local color0F='#BAA58C'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
