# Scheme name: standardized-light
# Scheme system: base16
# Scheme author: ali (https://github.com/ali-githb/base16-standardized-scheme)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#ffffff'
local color01='#eeeeee'
local color02='#cccccc'
local color03='#767676'
local color04='#767676'
local color05='#444444'
local color06='#333333'
local color07='#222222'
local color08='#d03e3e'
local color09='#d7691d'
local color0A='#ad8200'
local color0B='#31861f'
local color0C='#00998f'
local color0D='#3173c5'
local color0E='#9e57c2'
local color0F='#895025'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
