# Base16 Classic Dark
# Author: Jason Heeris (http://heeris.id.au)

_gen_fzf_default_opts() {

local color00='#151515'
local color01='#202020'
local color02='#303030'
local color03='#505050'
local color04='#B0B0B0'
local color05='#D0D0D0'
local color06='#E0E0E0'
local color07='#F5F5F5'
local color08='#AC4142'
local color09='#D28445'
local color0A='#F4BF75'
local color0B='#90A959'
local color0C='#75B5AA'
local color0D='#6A9FB5'
local color0E='#AA759F'
local color0F='#8F5536'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
