# Base16 Dark Violet
# Author: ruler501 (https://github.com/ruler501/base16-darkviolet)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#231a40'
local color02='#432d59'
local color03='#593380'
local color04='#00ff00'
local color05='#b08ae6'
local color06='#9045e6'
local color07='#a366ff'
local color08='#a82ee6'
local color09='#bb66cc'
local color0A='#f29df2'
local color0B='#4595e6'
local color0C='#40dfff'
local color0D='#4136d9'
local color0E='#7e5ce6'
local color0F='#a886bf'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
