# Scheme name: Tokyo Night Moon
# Scheme system: base16
# Scheme author: Ólafur Bjarki Bogason
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#222436'
local color01='#1e2030'
local color02='#2d3f76'
local color03='#636da6'
local color04='#828bb8'
local color05='#3b4261'
local color06='#828bb8'
local color07='#c8d3f5'
local color08='#ff757f'
local color09='#ffc777'
local color0A='#ffc777'
local color0B='#c3e88d'
local color0C='#86e1fc'
local color0D='#82aaff'
local color0E='#fca7ea'
local color0F='#c53b53'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
