# Scheme name: Nord Light
# Scheme system: base16
# Scheme author: threddast, based on fuxialexander&#39;s doom-nord-light-theme (Doom Emacs)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#e5e9f0'
local color01='#c2d0e7'
local color02='#b8c5db'
local color03='#aebacf'
local color04='#60728c'
local color05='#2e3440'
local color06='#3b4252'
local color07='#29838d'
local color08='#99324b'
local color09='#ac4426'
local color0A='#9a7500'
local color0B='#4f894c'
local color0C='#398eac'
local color0D='#3b6ea8'
local color0E='#97365b'
local color0F='#5272af'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
