# Scheme name: Material Darker
# Scheme system: base16
# Scheme author: Nate Peterson
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#212121'
local color01='#303030'
local color02='#353535'
local color03='#4a4a4a'
local color04='#b2ccd6'
local color05='#eeffff'
local color06='#eeffff'
local color07='#ffffff'
local color08='#f07178'
local color09='#f78c6c'
local color0A='#ffcb6b'
local color0B='#c3e88d'
local color0C='#89ddff'
local color0D='#82aaff'
local color0E='#c792ea'
local color0F='#ff5370'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
