# Scheme name: OneDark Dark
# Scheme system: base16
# Scheme author: olimorris (https://github.com/olimorris)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#1c1f24'
local color02='#2c313a'
local color03='#434852'
local color04='#565c64'
local color05='#abb2bf'
local color06='#b6bdca'
local color07='#c8ccd4'
local color08='#ef596f'
local color09='#d19a66'
local color0A='#e5c07b'
local color0B='#89ca78'
local color0C='#2bbac5'
local color0D='#61afef'
local color0E='#d55fde'
local color0F='#be5046'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
