# Scheme name: Sequoia Retro Dark
# Scheme system: base16
# Scheme author: Micheal Andreuzza (https://michaelandreuzza.com/)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#0f1014'
local color01='#111216'
local color02='#111216'
local color03='#43444d'
local color04='#575861'
local color05='#868690'
local color06='#868690'
local color07='#0f1014'
local color08='#829fa7'
local color09='#829fa7'
local color0A='#da674b'
local color0B='#648f68'
local color0C='#a27e57'
local color0D='#5c87a4'
local color0E='#da674b'
local color0F='#648f68'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
