# Scheme name: Github Dark High Contrast
# Scheme system: base16
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#0a0c10'
local color01='#272b33'
local color02='#7a828e'
local color03='#9ea7b3'
local color04='#bdc4cc'
local color05='#f0f3f6'
local color06='#ffffff'
local color07='#ffffff'
local color08='#ffb757'
local color09='#91cbff'
local color0A='#e09b13'
local color0B='#addcff'
local color0C='#72f088'
local color0D='#dbb7ff'
local color0E='#ff9492'
local color0F='#ffb1af'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
