# Base16 summercamp
# Author: zoe firi (zoefiri.github.io)

_gen_fzf_default_opts() {

local color00='#1c1810'
local color01='#2a261c'
local color02='#3a3527'
local color03='#504b38'
local color04='#5f5b45'
local color05='#736e55'
local color06='#bab696'
local color07='#f8f5de'
local color08='#e35142'
local color09='#fba11b'
local color0A='#f2ff27'
local color0B='#5ceb5a'
local color0C='#5aebbc'
local color0D='#489bf0'
local color0E='#FF8080'
local color0F='#F69BE7'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
