# Scheme name: Praha
# Scheme system: base16
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1a1a1a'
local color01='#2a2a2a'
local color02='#353535'
local color03='#6272a4'
local color04='#989898'
local color05='#ffffff'
local color06='#ffffff'
local color07='#ffffff'
local color08='#ff5555'
local color09='#ff9c7c'
local color0A='#ffe4a3'
local color0B='#b8e6a0'
local color0C='#8be9fd'
local color0D='#bd93f9'
local color0E='#ff9aa2'
local color0F='#af6e5a'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
