# Base16 Nebula
# Author: Gabriel Fontes (https://github.com/Misterio77)

_gen_fzf_default_opts() {

local color00='#22273b'
local color01='#414f60'
local color02='#5a8380'
local color03='#6e6f72'
local color04='#87888b'
local color05='#a4a6a9'
local color06='#c7c9cd'
local color07='#8dbdaa'
local color08='#777abc'
local color09='#94929e'
local color0A='#4f9062'
local color0B='#6562a8'
local color0C='#226f68'
local color0D='#4d6bb6'
local color0E='#716cae'
local color0F='#8c70a7'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
