# Base16 Cupertino
# Author: Defman21

_gen_fzf_default_opts() {

local color00='#ffffff'
local color01='#c0c0c0'
local color02='#c0c0c0'
local color03='#808080'
local color04='#808080'
local color05='#404040'
local color06='#404040'
local color07='#5e5e5e'
local color08='#c41a15'
local color09='#eb8500'
local color0A='#826b28'
local color0B='#007400'
local color0C='#318495'
local color0D='#0000ff'
local color0E='#a90d91'
local color0F='#826b28'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
