# Base16 Circus
# Author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)

_gen_fzf_default_opts() {

local color00='#191919'
local color01='#202020'
local color02='#303030'
local color03='#5f5a60'
local color04='#505050'
local color05='#a7a7a7'
local color06='#808080'
local color07='#ffffff'
local color08='#dc657d'
local color09='#4bb1a7'
local color0A='#c3ba63'
local color0B='#84b97c'
local color0C='#4bb1a7'
local color0D='#639ee4'
local color0E='#b888e2'
local color0F='#b888e2'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
