# Base16 Ayu Light
# Author: Khue Nguyen &lt;Z5483Y@gmail.com&gt;

_gen_fzf_default_opts() {

local color00='#FAFAFA'
local color01='#F3F4F5'
local color02='#F8F9FA'
local color03='#ABB0B6'
local color04='#828C99'
local color05='#5C6773'
local color06='#242936'
local color07='#1A1F29'
local color08='#F07178'
local color09='#FA8D3E'
local color0A='#F2AE49'
local color0B='#86B300'
local color0C='#4CBF99'
local color0D='#36A3D9'
local color0E='#A37ACC'
local color0F='#E6BA7E'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
