# Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)

_gen_fzf_default_opts() {

local color00='#00002A'
local color01='#20204A'
local color02='#30305A'
local color03='#50507A'
local color04='#B0B0DA'
local color05='#D0D0FA'
local color06='#E0E0FF'
local color07='#F5F5FF'
local color08='#FF4242'
local color09='#FC8D28'
local color0A='#F3E877'
local color0B='#59F176'
local color0C='#0EF0F0'
local color0D='#66B0FF'
local color0E='#F10596'
local color0F='#F003EF'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
