# Scheme name: Precious Light Warm
# Scheme system: base16
# Scheme author: 4lex4 &lt;4lex49@zoho.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#fff5e5'
local color01='#ece4d6'
local color02='#d9d3c8'
local color03='#7f8080'
local color04='#5d6065'
local color05='#4e5359'
local color06='#4e5359'
local color07='#4e5359'
local color08='#b14745'
local color09='#a25600'
local color0A='#876500'
local color0B='#557300'
local color0C='#0e7767'
local color0D='#246da5'
local color0E='#7a50c6'
local color0F='#a83f92'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
