# Base16 Tokyo City Terminal Light
# Author: Michaël Ball

_gen_fzf_default_opts() {

local color00='#FBFBFD'
local color01='#F6F6F8'
local color02='#D8E2EC'
local color03='#B7C5D3'
local color04='#526270'
local color05='#28323A'
local color06='#1D252C'
local color07='#171D23'
local color08='#8C4351'
local color09='#965027'
local color0A='#8f5E15'
local color0B='#33635C'
local color0C='#0F4B6E'
local color0D='#34548A'
local color0E='#5A4A78'
local color0F='#7E5140'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
