# Base16 Brogrammer
# Author: Vik Ramanujam (http://github.com/piggyslasher)

_gen_fzf_default_opts() {

local color00='#1f1f1f'
local color01='#f81118'
local color02='#2dc55e'
local color03='#ecba0f'
local color04='#2a84d2'
local color05='#4e5ab7'
local color06='#1081d6'
local color07='#d6dbe5'
local color08='#d6dbe5'
local color09='#de352e'
local color0A='#1dd361'
local color0B='#f3bd09'
local color0C='#1081d6'
local color0D='#5350b9'
local color0E='#0f7ddb'
local color0F='#ffffff'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
