# Base16 Tokyo Night Dark
# Author: Michaël Ball

_gen_fzf_default_opts() {

local color00='#1A1B26'
local color01='#16161E'
local color02='#2F3549'
local color03='#444B6A'
local color04='#787C99'
local color05='#A9B1D6'
local color06='#CBCCD1'
local color07='#D5D6DB'
local color08='#C0CAF5'
local color09='#A9B1D6'
local color0A='#0DB9D7'
local color0B='#9ECE6A'
local color0C='#B4F9F8'
local color0D='#2AC3DE'
local color0E='#BB9AF7'
local color0F='#F7768E'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
