# Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)

_gen_fzf_default_opts() {

local color00='#16130F'
local color01='#2C2620'
local color02='#433B32'
local color03='#5A5047'
local color04='#8A8075'
local color05='#A39A90'
local color06='#BEB6AE'
local color07='#DBD6D1'
local color08='#826D57'
local color09='#828257'
local color0A='#6D8257'
local color0B='#57826D'
local color0C='#576D82'
local color0D='#6D5782'
local color0E='#82576D'
local color0F='#825757'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
