# Scheme name: Still Alive
# Scheme system: base16
# Scheme author: Derrick McKee (derrick.mckee@gmail.com)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#f0f0f0'
local color01='#f0d848'
local color02='#fff018'
local color03='#f01818'
local color04='#f00000'
local color05='#d80000'
local color06='#489000'
local color07='#30a860'
local color08='#487830'
local color09='#183048'
local color0A='#426395'
local color0B='#5c5c6a'
local color0C='#2c3c57'
local color0D='#001878'
local color0E='#900000'
local color0F='#140c0d'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
