# Scheme name: Oslo
# Scheme system: base16
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#3f4451'
local color01='#474c59'
local color02='#4c515e'
local color03='#6c727f'
local color04='#7a808e'
local color05='#abb2bf'
local color06='#bcc1cc'
local color07='#ffffff'
local color08='#e05561'
local color09='#d8725a'
local color0A='#d18f52'
local color0B='#8cc265'
local color0C='#42b3c2'
local color0D='#4aa5f0'
local color0E='#c162de'
local color0F='#a26257'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
