# Scheme name: Github Dark
# Scheme system: base16
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#161b22'
local color01='#30363d'
local color02='#484f58'
local color03='#6e7681'
local color04='#8b949e'
local color05='#c9d1d9'
local color06='#f0f6fc'
local color07='#ffffff'
local color08='#f85149'
local color09='#db6d28'
local color0A='#bb8009'
local color0B='#2ea043'
local color0C='#2a9d9a'
local color0D='#388bfd'
local color0E='#a371f7'
local color0F='#3d2f00'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
