# Base16 Atelier Dune Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

_gen_fzf_default_opts() {

local color00='#fefbec'
local color01='#e8e4cf'
local color02='#a6a28c'
local color03='#999580'
local color04='#7d7a68'
local color05='#6e6b5e'
local color06='#292824'
local color07='#20201d'
local color08='#d73737'
local color09='#b65611'
local color0A='#ae9513'
local color0B='#60ac39'
local color0C='#1fad83'
local color0D='#6684e1'
local color0E='#b854d4'
local color0F='#d43552'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
