# Base16 ShadeSmear Dark
# Author: Kyle Giammarco (http://kyle.giammar.co)

_gen_fzf_default_opts() {

local color00='#232323'
local color01='#1C1C1C'
local color02='#4E4E4E'
local color03='#C0C0C0'
local color04='#E4E4E4'
local color05='#DBDBDB'
local color06='#E4E4E4'
local color07='#1C1C1C'
local color08='#CC5450'
local color09='#A64270'
local color0A='#307878'
local color0B='#71983B'
local color0C='#C57D42'
local color0D='#376388'
local color0E='#D7AB54'
local color0F='#6D6D6D'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
