# Base16 Atelier Heath Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

_gen_fzf_default_opts() {

local color00='#f7f3f7'
local color01='#d8cad8'
local color02='#ab9bab'
local color03='#9e8f9e'
local color04='#776977'
local color05='#695d69'
local color06='#292329'
local color07='#1b181b'
local color08='#ca402b'
local color09='#a65926'
local color0A='#bb8a35'
local color0B='#918b3b'
local color0C='#159393'
local color0D='#516aec'
local color0E='#7b59c0'
local color0F='#cc33cc'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
