# Base16 Brush Trees Dark
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

_gen_fzf_default_opts() {

local color00='#485867'
local color01='#5A6D7A'
local color02='#6D828E'
local color03='#8299A1'
local color04='#98AFB5'
local color05='#B0C5C8'
local color06='#C9DBDC'
local color07='#E3EFEF'
local color08='#b38686'
local color09='#d8bba2'
local color0A='#aab386'
local color0B='#87b386'
local color0C='#86b3b3'
local color0D='#868cb3'
local color0E='#b386b2'
local color0F='#b39f9f'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
