# Base16 Unikitty Dark
# Author: Josh W Lewis (@joshwlewis)

_gen_fzf_default_opts() {

local color00='#2e2a31'
local color01='#4a464d'
local color02='#666369'
local color03='#838085'
local color04='#9f9da2'
local color05='#bcbabe'
local color06='#d8d7da'
local color07='#f5f4f7'
local color08='#d8137f'
local color09='#d65407'
local color0A='#dc8a0e'
local color0B='#17ad98'
local color0C='#149bda'
local color0D='#796af5'
local color0E='#bb60ea'
local color0F='#c720ca'

export FZF_DEFAULT_OPTS="
  --height 40% --border
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
