# Base16 London Tube
# Author: Jan T. Sott

_gen_fzf_default_opts() {

local color00='#231f20'
local color01='#1c3f95'
local color02='#5a5758'
local color03='#737171'
local color04='#959ca1'
local color05='#d9d8d8'
local color06='#e7e7e8'
local color07='#ffffff'
local color08='#ee2e24'
local color09='#f386a1'
local color0A='#ffd204'
local color0B='#00853e'
local color0C='#85cebc'
local color0D='#009ddc'
local color0E='#98005d'
local color0F='#b06110'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
