# Base16 Atelier Plateau Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

_gen_fzf_default_opts() {

local color00='#f4ecec'
local color01='#e7dfdf'
local color02='#8a8585'
local color03='#7e7777'
local color04='#655d5d'
local color05='#585050'
local color06='#292424'
local color07='#1b1818'
local color08='#ca4949'
local color09='#b45a3c'
local color0A='#a06e3b'
local color0B='#4b8b8b'
local color0C='#5485b6'
local color0D='#7272ca'
local color0E='#8464c4'
local color0F='#bd5187'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
