# Base16 Hardcore
# Author: Chris Caller

_gen_fzf_default_opts() {

local color00='#212121'
local color01='#303030'
local color02='#353535'
local color03='#4A4A4A'
local color04='#707070'
local color05='#cdcdcd'
local color06='#e5e5e5'
local color07='#ffffff'
local color08='#f92672'
local color09='#fd971f'
local color0A='#e6db74'
local color0B='#a6e22e'
local color0C='#708387'
local color0D='#66d9ef'
local color0E='#9e6ffe'
local color0F='#e8b882'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
