# Base16 PhD
# Author: Hennig Hasemann (http://leetless.de/vim.html)

_gen_fzf_default_opts() {

local color00='#061229'
local color01='#2a3448'
local color02='#4d5666'
local color03='#717885'
local color04='#9a99a3'
local color05='#b8bbc2'
local color06='#dbdde0'
local color07='#ffffff'
local color08='#d07346'
local color09='#f0a000'
local color0A='#fbd461'
local color0B='#99bf52'
local color0C='#72b9bf'
local color0D='#5299bf'
local color0E='#9989cc'
local color0F='#b08060'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
