# Scheme name: Summerfruit Dark
# Scheme system: base16
# Scheme author: Christopher Corley (http://christop.club/)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#151515'
local color01='#202020'
local color02='#303030'
local color03='#505050'
local color04='#b0b0b0'
local color05='#d0d0d0'
local color06='#e0e0e0'
local color07='#ffffff'
local color08='#ff0086'
local color09='#fd8900'
local color0A='#aba800'
local color0B='#00c918'
local color0C='#1faaaa'
local color0D='#3777e6'
local color0E='#ad00a1'
local color0F='#cc6633'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
