# Base16 Atelier Sulphurpool Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

_gen_fzf_default_opts() {

local color00='#f5f7ff'
local color01='#dfe2f1'
local color02='#979db4'
local color03='#898ea4'
local color04='#6b7394'
local color05='#5e6687'
local color06='#293256'
local color07='#202746'
local color08='#c94922'
local color09='#c76b29'
local color0A='#c08b30'
local color0B='#ac9739'
local color0C='#22a2c9'
local color0D='#3d8fd1'
local color0E='#6679cc'
local color0F='#9c637a'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
