# Base16 Porple
# Author: Niek den Breeje (https://github.com/AuditeMarlow)

_gen_fzf_default_opts() {

local color00='#292c36'
local color01='#333344'
local color02='#474160'
local color03='#65568a'
local color04='#b8b8b8'
local color05='#d8d8d8'
local color06='#e8e8e8'
local color07='#f8f8f8'
local color08='#f84547'
local color09='#d28e5d'
local color0A='#efa16b'
local color0B='#95c76f'
local color0C='#64878f'
local color0D='#8485ce'
local color0E='#b74989'
local color0F='#986841'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
