# Base16 Stella
# Author: Shrimpram

_gen_fzf_default_opts() {

local color00='#2B213C'
local color01='#362B48'
local color02='#4D4160'
local color03='#655978'
local color04='#7F7192'
local color05='#998BAD'
local color06='#B4A5C8'
local color07='#EBDCFF'
local color08='#C79987'
local color09='#8865C6'
local color0A='#C7C691'
local color0B='#ACC79B'
local color0C='#9BC7BF'
local color0D='#A5AAD4'
local color0E='#C594FF'
local color0F='#C7AB87'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
