# Base16 Icy Dark
# Author: icyphox (https://icyphox.ga)

_gen_fzf_default_opts() {

local color00='#021012'
local color01='#031619'
local color02='#041f23'
local color03='#052e34'
local color04='#064048'
local color05='#095b67'
local color06='#0c7c8c'
local color07='#109cb0'
local color08='#16c1d9'
local color09='#b3ebf2'
local color0A='#80deea'
local color0B='#4dd0e1'
local color0C='#26c6da'
local color0D='#00bcd4'
local color0E='#00acc1'
local color0F='#0097a7'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
