# Scheme name: Purpledream
# Scheme system: base16
# Scheme author: malet
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#100510'
local color01='#302030'
local color02='#403040'
local color03='#605060'
local color04='#bbb0bb'
local color05='#ddd0dd'
local color06='#eee0ee'
local color07='#fff0ff'
local color08='#ff1d0d'
local color09='#ccae14'
local color0A='#f000a0'
local color0B='#14cc64'
local color0C='#0075b0'
local color0D='#00a0f0'
local color0E='#b000d0'
local color0F='#6a2a3c'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
