# Base16 Github
# Author: Defman21

_gen_fzf_default_opts() {

local color00='#ffffff'
local color01='#f5f5f5'
local color02='#c8c8fa'
local color03='#969896'
local color04='#e8e8e8'
local color05='#333333'
local color06='#ffffff'
local color07='#ffffff'
local color08='#ed6a43'
local color09='#0086b3'
local color0A='#795da3'
local color0B='#183691'
local color0C='#183691'
local color0D='#795da3'
local color0E='#a71d5d'
local color0F='#333333'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
