# Scheme name: Gruber
# Scheme system: base16
# Scheme author: Patel, Nimai &lt;nimai.m.patel@gmail.com&gt;, colors from www.github.com/rexim/gruber-darker-theme
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#181818'
local color01='#453d41'
local color02='#484848'
local color03='#52494e'
local color04='#e4e4ef'
local color05='#f4f4ff'
local color06='#f5f5f5'
local color07='#e4e4ef'
local color08='#f43841'
local color09='#c73c3f'
local color0A='#ffdd33'
local color0B='#73c936'
local color0C='#95a99f'
local color0D='#96a6c8'
local color0E='#9e95c7'
local color0F='#cc8c3c'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
