# Base16 PaperColor Light
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)

_gen_fzf_default_opts() {

local color00='#eeeeee'
local color01='#af0000'
local color02='#008700'
local color03='#5f8700'
local color04='#0087af'
local color05='#878787'
local color06='#005f87'
local color07='#444444'
local color08='#bcbcbc'
local color09='#d70000'
local color0A='#d70087'
local color0B='#8700af'
local color0C='#d75f00'
local color0D='#d75f00'
local color0E='#005faf'
local color0F='#005f87'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
