# Base16 Purpledream
# Author: malet

_gen_fzf_default_opts() {

local color00='#100510'
local color01='#302030'
local color02='#403040'
local color03='#605060'
local color04='#bbb0bb'
local color05='#ddd0dd'
local color06='#eee0ee'
local color07='#fff0ff'
local color08='#FF1D0D'
local color09='#CCAE14'
local color0A='#F000A0'
local color0B='#14CC64'
local color0C='#0075B0'
local color0D='#00A0F0'
local color0E='#B000D0'
local color0F='#6A2A3C'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
