# Base16 3024
# Author: Jan T. Sott (http://github.com/idleberg)

_gen_fzf_default_opts() {

local color00='#090300'
local color01='#3a3432'
local color02='#4a4543'
local color03='#5c5855'
local color04='#807d7c'
local color05='#a5a2a2'
local color06='#d6d5d4'
local color07='#f7f7f7'
local color08='#db2d20'
local color09='#e8bbd0'
local color0A='#fded02'
local color0B='#01a252'
local color0C='#b5e4f4'
local color0D='#01a0e4'
local color0E='#a16a94'
local color0F='#cdab53'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
