# Scheme name: Valua
# Scheme system: base16
# Scheme author: Nonetrix (https://github.com/nonetrix)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#131f1f'
local color01='#213132'
local color02='#273d3c'
local color03='#3e5c53'
local color04='#6d9877'
local color05='#98c1a3'
local color06='#a5cbb9'
local color07='#aacbcb'
local color08='#d7586e'
local color09='#e6b466'
local color0A='#dfe754'
local color0B='#59d678'
local color0C='#76dbd2'
local color0D='#4ed2d2'
local color0E='#a874e0'
local color0F='#c05a8f'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
