# Base16 Default Light
# Author: Chris Kempson (http://chriskempson.com)

_gen_fzf_default_opts() {

local color00='#f8f8f8'
local color01='#e8e8e8'
local color02='#d8d8d8'
local color03='#b8b8b8'
local color04='#585858'
local color05='#383838'
local color06='#282828'
local color07='#181818'
local color08='#ab4642'
local color09='#dc9656'
local color0A='#f7ca88'
local color0B='#a1b56c'
local color0C='#86c1b9'
local color0D='#7cafc2'
local color0E='#ba8baf'
local color0F='#a16946'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
