# Base16 IR Black
# Author: Timothée Poisot (http://timotheepoisot.fr)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#242422'
local color02='#484844'
local color03='#6c6c66'
local color04='#918f88'
local color05='#b5b3aa'
local color06='#d9d7cc'
local color07='#fdfbee'
local color08='#ff6c60'
local color09='#e9c062'
local color0A='#ffffb6'
local color0B='#a8ff60'
local color0C='#c6c5fe'
local color0D='#96cbfe'
local color0E='#ff73fd'
local color0F='#b18a3d'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
