# Base16 Rebecca
# Author: Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)

_gen_fzf_default_opts() {

local color00='#292a44'
local color01='#663399'
local color02='#383a62'
local color03='#666699'
local color04='#a0a0c5'
local color05='#f1eff8'
local color06='#ccccff'
local color07='#53495d'
local color08='#a0a0c5'
local color09='#efe4a1'
local color0A='#ae81ff'
local color0B='#6dfedf'
local color0C='#8eaee0'
local color0D='#2de0a7'
local color0E='#7aa5ff'
local color0F='#ff79c6'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
