# Scheme name: Deep Oceanic Next
# Scheme system: base16
# Scheme author: spearkkk (https://github.com/spearkkk)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#001c1f'
local color01='#002931'
local color02='#003640'
local color03='#004852'
local color04='#0093a3'
local color05='#d4e1e8'
local color06='#e0e9ef'
local color07='#f2f7f9'
local color08='#d3464d'
local color09='#e37552'
local color0A='#f3b863'
local color0B='#63b784'
local color0C='#4fb7ae'
local color0D='#568ccf'
local color0E='#8b66d6'
local color0F='#d0658e'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
