# Base16 Pasque
# Author: Gabriel Fontes (https://github.com/Misterio77)

_gen_fzf_default_opts() {

local color00='#271C3A'
local color01='#100323'
local color02='#3E2D5C'
local color03='#5D5766'
local color04='#BEBCBF'
local color05='#DEDCDF'
local color06='#EDEAEF'
local color07='#BBAADD'
local color08='#A92258'
local color09='#918889'
local color0A='#804ead'
local color0B='#C6914B'
local color0C='#7263AA'
local color0D='#8E7DC6'
local color0E='#953B9D'
local color0F='#59325C'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
