# Base16 Paraiso
# Author: Jan T. Sott

_gen_fzf_default_opts() {

local color00='#2f1e2e'
local color01='#41323f'
local color02='#4f424c'
local color03='#776e71'
local color04='#8d8687'
local color05='#a39e9b'
local color06='#b9b6b0'
local color07='#e7e9db'
local color08='#ef6155'
local color09='#f99b15'
local color0A='#fec418'
local color0B='#48b685'
local color0C='#5bc4bf'
local color0D='#06b6ef'
local color0E='#815ba4'
local color0F='#e96ba8'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
