# Scheme name: Vesper
# Scheme system: base16
# Scheme author: FormalSnake (https://github.com/formalsnake)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#101010'
local color01='#232323'
local color02='#222222'
local color03='#333333'
local color04='#999999'
local color05='#b7b7b7'
local color06='#c1c1c1'
local color07='#d5d5d5'
local color08='#de6e6e'
local color09='#dab083'
local color0A='#ffc799'
local color0B='#5f8787'
local color0C='#60a592'
local color0D='#8eaaaa'
local color0E='#d69094'
local color0F='#876c4f'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
