# Base16 Material Vivid
# Author: joshyrobot

_gen_fzf_default_opts() {

local color00='#202124'
local color01='#27292c'
local color02='#323639'
local color03='#44464d'
local color04='#676c71'
local color05='#80868b'
local color06='#9e9e9e'
local color07='#ffffff'
local color08='#f44336'
local color09='#ff9800'
local color0A='#ffeb3b'
local color0B='#00e676'
local color0C='#00bcd4'
local color0D='#2196f3'
local color0E='#673ab7'
local color0F='#8d6e63'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
