# Base16 Hopscotch
# Author: Jan T. Sott

_gen_fzf_default_opts() {

local color00='#322931'
local color01='#433b42'
local color02='#5c545b'
local color03='#797379'
local color04='#989498'
local color05='#b9b5b8'
local color06='#d5d3d5'
local color07='#ffffff'
local color08='#dd464c'
local color09='#fd8b19'
local color0A='#fdcc59'
local color0B='#8fc13e'
local color0C='#149b93'
local color0D='#1290bf'
local color0E='#c85e7c'
local color0F='#b33508'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
