# Scheme name: Linux VT
# Scheme system: base16
# Scheme author: j-c-m (https://github.com/j-c-m/)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#333333'
local color02='#444444'
local color03='#555555'
local color04='#888888'
local color05='#aaaaaa'
local color06='#cccccc'
local color07='#ffffff'
local color08='#aa0000'
local color09='#ff5555'
local color0A='#ffff55'
local color0B='#00aa00'
local color0C='#00aaaa'
local color0D='#5555ff'
local color0E='#ff55ff'
local color0F='#aa5500'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
