# Base16 PaperColor Dark
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)

_gen_fzf_default_opts() {

local color00='#1c1c1c'
local color01='#af005f'
local color02='#5faf00'
local color03='#d7af5f'
local color04='#5fafd7'
local color05='#808080'
local color06='#d7875f'
local color07='#d0d0d0'
local color08='#585858'
local color09='#5faf5f'
local color0A='#afd700'
local color0B='#af87d7'
local color0C='#ffaf00'
local color0D='#ff5faf'
local color0E='#00afaf'
local color0F='#5f8787'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
