# Base16 Material Lighter
# Author: Nate Peterson

_gen_fzf_default_opts() {

local color00='#FAFAFA'
local color01='#E7EAEC'
local color02='#CCEAE7'
local color03='#CCD7DA'
local color04='#8796B0'
local color05='#80CBC4'
local color06='#80CBC4'
local color07='#FFFFFF'
local color08='#FF5370'
local color09='#F76D47'
local color0A='#FFB62C'
local color0B='#91B859'
local color0C='#39ADB5'
local color0D='#6182B8'
local color0E='#7C4DFF'
local color0F='#E53935'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
