# Scheme name: tarot
# Scheme system: base16
# Scheme author: ed (https://codeberg.org/ed)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#0e091d'
local color01='#2a153c'
local color02='#4b2054'
local color03='#74316b'
local color04='#8c406f'
local color05='#aa556f'
local color06='#c4686d'
local color07='#dc8f7c'
local color08='#c53253'
local color09='#ea4d60'
local color0A='#ff6565'
local color0B='#a68e5a'
local color0C='#8c9785'
local color0D='#6e6080'
local color0E='#a45782'
local color0F='#984d51'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
