# Base16 Macintosh
# Author: Rebecca Bettencourt (http://www.kreativekorp.com)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#404040'
local color02='#404040'
local color03='#808080'
local color04='#808080'
local color05='#c0c0c0'
local color06='#c0c0c0'
local color07='#ffffff'
local color08='#dd0907'
local color09='#ff6403'
local color0A='#fbf305'
local color0B='#1fb714'
local color0C='#02abea'
local color0D='#0000d3'
local color0E='#4700a5'
local color0F='#90713a'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
