# Base16 Nord
# Author: arcticicestudio

_gen_fzf_default_opts() {

local color00='#2e3440'
local color01='#3b4252'
local color02='#434c5e'
local color03='#4c566a'
local color04='#d8dee9'
local color05='#e5e9f0'
local color06='#eceff4'
local color07='#8fbcbb'
local color08='#88c0d0'
local color09='#81a1c1'
local color0A='#5e81ac'
local color0B='#bf616a'
local color0C='#d08770'
local color0D='#ebcb8b'
local color0E='#a3be8c'
local color0F='#b48ead'

export FZF_DEFAULT_OPTS="
  --height 40% --border
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
