# Scheme name: Chinoiserie Night
# Scheme system: base16
# Scheme author: Di Wang (https://cs.cmu.edu/~diw3)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1d1d1d'
local color01='#282828'
local color02='#373737'
local color03='#918072'
local color04='#bdaead'
local color05='#c4cbcf'
local color06='#eee7f2'
local color07='#fffef9'
local color08='#f07c82'
local color09='#f4a83a'
local color0A='#f4ce69'
local color0B='#b2cf87'
local color0C='#b0d5df'
local color0D='#8fb2c9'
local color0E='#be9db9'
local color0F='#b89485'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
