# Base16 Equilibrium Light
# Author: Carlo Abelli

_gen_fzf_default_opts() {

local color00='#f5f0e7'
local color01='#e7e2d9'
local color02='#d8d4cb'
local color03='#73777f'
local color04='#5a5f66'
local color05='#43474e'
local color06='#2c3138'
local color07='#181c22'
local color08='#d02023'
local color09='#bf3e05'
local color0A='#9d6f00'
local color0B='#637200'
local color0C='#007a72'
local color0D='#0073b5'
local color0E='#4e66b6'
local color0F='#c42775'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
