# Base16 Apathy
# Author: Jannik Siebert (https://github.com/janniks)

_gen_fzf_default_opts() {

local color00='#031A16'
local color01='#0B342D'
local color02='#184E45'
local color03='#2B685E'
local color04='#5F9C92'
local color05='#81B5AC'
local color06='#A7CEC8'
local color07='#D2E7E4'
local color08='#3E9688'
local color09='#3E7996'
local color0A='#3E4C96'
local color0B='#883E96'
local color0C='#963E4C'
local color0D='#96883E'
local color0E='#4C963E'
local color0F='#3E965B'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
