# Base16 iA Light
# Author: iA Inc. (modified by aramisgithub)

_gen_fzf_default_opts() {

local color00='#f6f6f6'
local color01='#dedede'
local color02='#bde5f2'
local color03='#898989'
local color04='#767676'
local color05='#181818'
local color06='#e8e8e8'
local color07='#f8f8f8'
local color08='#9c5a02'
local color09='#c43e18'
local color0A='#c48218'
local color0B='#38781c'
local color0C='#2d6bb1'
local color0D='#48bac2'
local color0E='#a94598'
local color0F='#8b6c37'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
