# Scheme name: Arroz con Dulce
# Scheme system: base16
# Scheme author: Richard Martinez
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#fff8e7'
local color01='#f7ebd3'
local color02='#ead6b8'
local color03='#c8a77a'
local color04='#765b45'
local color05='#4a2c20'
local color06='#321c14'
local color07='#21110b'
local color08='#a11d48'
local color09='#a3470a'
local color0A='#855500'
local color0B='#a2380c'
local color0C='#98263e'
local color0D='#5940a0'
local color0E='#8c1f68'
local color0F='#653221'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
