# Base16 Windows 10 Light
# Author: Fergus Collins (https://github.com/C-Fergus)

_gen_fzf_default_opts() {

local color00='#f2f2f2'
local color01='#e5e5e5'
local color02='#d9d9d9'
local color03='#cccccc'
local color04='#ababab'
local color05='#767676'
local color06='#414141'
local color07='#0c0c0c'
local color08='#c50f1f'
local color09='#f9f1a5'
local color0A='#c19c00'
local color0B='#13a10e'
local color0C='#3a96dd'
local color0D='#0037da'
local color0E='#881798'
local color0F='#16c60c'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
