# Base16 Colors
# Author: mrmrs (http://clrs.cc)

_gen_fzf_default_opts() {

local color00='#111111'
local color01='#333333'
local color02='#555555'
local color03='#777777'
local color04='#999999'
local color05='#bbbbbb'
local color06='#dddddd'
local color07='#ffffff'
local color08='#ff4136'
local color09='#ff851b'
local color0A='#ffdc00'
local color0B='#2ecc40'
local color0C='#7fdbff'
local color0D='#0074d9'
local color0E='#b10dc9'
local color0F='#85144b'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
