# Scheme name: Github Dark Dimmed
# Scheme system: base16
# Scheme author: Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#22272e'
local color01='#2d333b'
local color02='#545d68'
local color03='#636e7b'
local color04='#768390'
local color05='#adbac7'
local color06='#cdd9e5'
local color07='#ffffff'
local color08='#f69d50'
local color09='#6cb6ff'
local color0A='#ae7c14'
local color0B='#96d0ff'
local color0C='#8ddb8c'
local color0D='#dcbdfb'
local color0E='#f47067'
local color0F='#ff938a'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
