# Base16 Synth Midnight Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

_gen_fzf_default_opts() {

local color00='#040404'
local color01='#141414'
local color02='#242424'
local color03='#61507A'
local color04='#BFBBBF'
local color05='#DFDBDF'
local color06='#EFEBEF'
local color07='#FFFBFF'
local color08='#B53B50'
local color09='#E4600E'
local color0A='#DAE84D'
local color0B='#06EA61'
local color0C='#7CEDE9'
local color0D='#03AEFF'
local color0E='#EA5CE2'
local color0F='#9D4D0E'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
