# Base16 Pop
# Author: Chris Kempson (http://chriskempson.com)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#202020'
local color02='#303030'
local color03='#505050'
local color04='#b0b0b0'
local color05='#d0d0d0'
local color06='#e0e0e0'
local color07='#ffffff'
local color08='#eb008a'
local color09='#f29333'
local color0A='#f8ca12'
local color0B='#37b349'
local color0C='#00aabb'
local color0D='#0e5a94'
local color0E='#b31e8d'
local color0F='#7a2d00'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
