# Scheme name: Qualia
# Scheme system: base16
# Scheme author: isaacwhanson
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#101010'
local color01='#454545'
local color02='#454545'
local color03='#454545'
local color04='#808080'
local color05='#c0c0c0'
local color06='#c0c0c0'
local color07='#454545'
local color08='#efa6a2'
local color09='#a3b8ef'
local color0A='#e6a3dc'
local color0B='#80c990'
local color0C='#c8c874'
local color0D='#50cacd'
local color0E='#e0af85'
local color0F='#808080'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
