# Base16 Framer
# Author: Framer (Maintained by Jesse Hoyos)

_gen_fzf_default_opts() {

local color00='#181818'
local color01='#151515'
local color02='#464646'
local color03='#747474'
local color04='#B9B9B9'
local color05='#D0D0D0'
local color06='#E8E8E8'
local color07='#EEEEEE'
local color08='#FD886B'
local color09='#FC4769'
local color0A='#FECB6E'
local color0B='#32CCDC'
local color0C='#ACDDFD'
local color0D='#20BCFC'
local color0E='#BA8CFC'
local color0F='#B15F4A'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
