# Base16 Equilibrium Gray Dark
# Author: Carlo Abelli

_gen_fzf_default_opts() {

local color00='#111111'
local color01='#1b1b1b'
local color02='#262626'
local color03='#777777'
local color04='#919191'
local color05='#ababab'
local color06='#c6c6c6'
local color07='#e2e2e2'
local color08='#f04339'
local color09='#df5923'
local color0A='#bb8801'
local color0B='#7f8b00'
local color0C='#00948b'
local color0D='#008dd1'
local color0E='#6a7fd2'
local color0F='#e3488e'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
