# Scheme name: Kanagawa
# Scheme system: base16
# Scheme author: Tommaso Laurenzi (https://github.com/rebelot)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1f1f28'
local color01='#16161d'
local color02='#223249'
local color03='#54546d'
local color04='#727169'
local color05='#dcd7ba'
local color06='#c8c093'
local color07='#717c7c'
local color08='#c34043'
local color09='#ffa066'
local color0A='#c0a36e'
local color0B='#76946a'
local color0C='#6a9589'
local color0D='#7e9cd8'
local color0E='#957fb8'
local color0F='#d27e99'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
