# Base16 Equilibrium Gray Light
# Author: Carlo Abelli

_gen_fzf_default_opts() {

local color00='#f1f1f1'
local color01='#e2e2e2'
local color02='#d4d4d4'
local color03='#777777'
local color04='#5e5e5e'
local color05='#474747'
local color06='#303030'
local color07='#1b1b1b'
local color08='#d02023'
local color09='#bf3e05'
local color0A='#9d6f00'
local color0B='#637200'
local color0C='#007a72'
local color0D='#0073b5'
local color0E='#4e66b6'
local color0F='#c42775'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
