# Base16 Spacemacs
# Author: Nasser Alshammari (https://github.com/nashamri/spacemacs-theme)

_gen_fzf_default_opts() {

local color00='#1f2022'
local color01='#282828'
local color02='#444155'
local color03='#585858'
local color04='#b8b8b8'
local color05='#a3a3a3'
local color06='#e8e8e8'
local color07='#f8f8f8'
local color08='#f2241f'
local color09='#ffa500'
local color0A='#b1951d'
local color0B='#67b11d'
local color0C='#2d9574'
local color0D='#4f97d7'
local color0E='#a31db1'
local color0F='#b03060'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
