# Base16 Apprentice
# Scheme author: romainl
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#262626'
local color01='#303030'
local color02='#333333'
local color03='#6c6c6c'
local color04='#787878'
local color05='#bcbcbc'
local color06='#c9c9c9'
local color07='#ffffff'
local color08='#5f8787'
local color09='#ff8700'
local color0A='#5f8787'
local color0B='#87af87'
local color0C='#5f875f'
local color0D='#ffffaf'
local color0E='#87afd7'
local color0F='#5f87af'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
