# Scheme name: eris
# Scheme system: base16
# Scheme author: ed (https://codeberg.org/ed), Tinted Theming (https://github.com/tinted-theming)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#0a0920'
local color01='#13133a'
local color02='#23255a'
local color03='#333773'
local color04='#4a5293'
local color05='#606bac'
local color06='#7986c5'
local color07='#9aaae5'
local color08='#f768a3'
local color09='#f78968'
local color0A='#f7d668'
local color0B='#a2faa8'
local color0C='#a2faf0'
local color0D='#258fc4'
local color0E='#c368f7'
local color0F='#b85600'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
