# Scheme name: Pastelón de Amarillos
# Scheme system: base16
# Scheme author: Richard Martinez (https://sonofmartinus.com)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#fff4d6'
local color01='#f2d083'
local color02='#d69b45'
local color03='#80616b'
local color04='#684653'
local color05='#432c3b'
local color06='#2f1c2e'
local color07='#1c0f20'
local color08='#bd3548'
local color09='#ad570f'
local color0A='#946400'
local color0B='#167451'
local color0C='#007270'
local color0D='#1e5da8'
local color0E='#8d3f89'
local color0F='#7c3528'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
