# Scheme name: Neovim Dark
# Scheme system: base16
# Scheme author: https://github.com/neovim/neovim/blob/master/src/nvim/highlight_group.c
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#14161b'
local color01='#07080d'
local color02='#4f5258'
local color03='#9b9ea4'
local color04='#c4c6cd'
local color05='#e0e2ea'
local color06='#eef1f8'
local color07='#eef1f8'
local color08='#ffc0b9'
local color09='#ffa500'
local color0A='#fce094'
local color0B='#b3f6c0'
local color0C='#8cf8f7'
local color0D='#a6dbff'
local color0E='#ffcaff'
local color0F='#cd853f'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
