# Base16 Grayscale Light
# Author: Alexandre Gavioli (https://github.com/Alexx2/)

_gen_fzf_default_opts() {

local color00='#f7f7f7'
local color01='#e3e3e3'
local color02='#b9b9b9'
local color03='#ababab'
local color04='#525252'
local color05='#464646'
local color06='#252525'
local color07='#101010'
local color08='#7c7c7c'
local color09='#999999'
local color0A='#a0a0a0'
local color0B='#8e8e8e'
local color0C='#868686'
local color0D='#686868'
local color0E='#747474'
local color0F='#5e5e5e'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
