# Base16 Materia
# Author: Defman21

_gen_fzf_default_opts() {

local color00='#263238'
local color01='#2C393F'
local color02='#37474F'
local color03='#707880'
local color04='#C9CCD3'
local color05='#CDD3DE'
local color06='#D5DBE5'
local color07='#FFFFFF'
local color08='#EC5F67'
local color09='#EA9560'
local color0A='#FFCC00'
local color0B='#8BD649'
local color0C='#80CBC4'
local color0D='#89DDFF'
local color0E='#82AAFF'
local color0F='#EC5F67'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
