# Base16 Mellow Purple
# Author: gidsi

_gen_fzf_default_opts() {

local color00='#1e0528'
local color01='#1A092D'
local color02='#331354'
local color03='#320f55'
local color04='#873582'
local color05='#ffeeff'
local color06='#ffeeff'
local color07='#f8c0ff'
local color08='#00d9e9'
local color09='#aa00a3'
local color0A='#955ae7'
local color0B='#05cb0d'
local color0C='#b900b1'
local color0D='#550068'
local color0E='#8991bb'
local color0F='#4d6fff'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
