# Scheme name: Brush Trees Dark
# Scheme system: base16
# Scheme author: Abraham White &lt;abelincoln.white@gmail.com&gt;
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#485867'
local color01='#5a6d7a'
local color02='#6d828e'
local color03='#8299a1'
local color04='#98afb5'
local color05='#b0c5c8'
local color06='#c9dbdc'
local color07='#e3efef'
local color08='#b38686'
local color09='#d8bba2'
local color0A='#aab386'
local color0B='#87b386'
local color0C='#86b3b3'
local color0D='#868cb3'
local color0E='#b386b2'
local color0F='#b39f9f'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
