# Base16 Windows NT
# Author: Fergus Collins (https://github.com/C-Fergus)

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#2a2a2a'
local color02='#555555'
local color03='#808080'
local color04='#a1a1a1'
local color05='#c0c0c0'
local color06='#e0e0e0'
local color07='#ffffff'
local color08='#ff0000'
local color09='#808000'
local color0A='#ffff00'
local color0B='#00ff00'
local color0C='#00ffff'
local color0D='#0000ff'
local color0E='#ff00ff'
local color0F='#008000'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
