# Base16 Sagelight
# Author: Carter Veldhuizen

_gen_fzf_default_opts() {

local color00='#f8f8f8'
local color01='#e8e8e8'
local color02='#d8d8d8'
local color03='#b8b8b8'
local color04='#585858'
local color05='#383838'
local color06='#282828'
local color07='#181818'
local color08='#fa8480'
local color09='#ffaa61'
local color0A='#ffdc61'
local color0B='#a0d2c8'
local color0C='#a2d6f5'
local color0D='#a0a7d2'
local color0E='#c8a0d2'
local color0F='#d2b2a0'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
