# Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)

_gen_fzf_default_opts() {

local color00='#222222'
local color01='#313131'
local color02='#555D55'
local color03='#644646'
local color04='#5A5A5A'
local color05='#DEDEE7'
local color06='#C3C3B4'
local color07='#FFFFE6'
local color08='#C88C8C'
local color09='#476C88'
local color0A='#D8B56D'
local color0B='#99C899'
local color0C='#78B4B4'
local color0D='#537C9C'
local color0E='#86CACD'
local color0F='#704F4F'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
