# Base16 Atelier Savanna Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

_gen_fzf_default_opts() {

local color00='#ecf4ee'
local color01='#dfe7e2'
local color02='#87928a'
local color03='#78877d'
local color04='#5f6d64'
local color05='#526057'
local color06='#232a25'
local color07='#171c19'
local color08='#b16139'
local color09='#9f713c'
local color0A='#a07e3b'
local color0B='#489963'
local color0C='#1c9aa0'
local color0D='#478c90'
local color0E='#55859b'
local color0F='#867469'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
