# Base16 Atelier Seaside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

_gen_fzf_default_opts() {

local color00='#f4fbf4'
local color01='#cfe8cf'
local color02='#8ca68c'
local color03='#809980'
local color04='#687d68'
local color05='#5e6e5e'
local color06='#242924'
local color07='#131513'
local color08='#e6193c'
local color09='#87711d'
local color0A='#98981b'
local color0B='#29a329'
local color0C='#1999b3'
local color0D='#3d62f5'
local color0E='#ad2bee'
local color0F='#e619c3'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
