# Scheme name: Catppuccin Mocha
# Scheme system: base16
# Scheme author: https://github.com/catppuccin/catppuccin
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1e1e2e'
local color01='#181825'
local color02='#313244'
local color03='#45475a'
local color04='#585b70'
local color05='#cdd6f4'
local color06='#f5e0dc'
local color07='#b4befe'
local color08='#f38ba8'
local color09='#fab387'
local color0A='#f9e2af'
local color0B='#a6e3a1'
local color0C='#94e2d5'
local color0D='#89b4fa'
local color0E='#cba6f7'
local color0F='#f2cdcd'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
