# Scheme name: Kissa Macchiato
# Scheme system: base16
# Scheme author: rwendell (https://github.com/rwendell/kissa)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1f1c16'
local color01='#35322d'
local color02='#47443f'
local color03='#b8a48c'
local color04='#d4c4a8'
local color05='#faf0e6'
local color06='#e8d5b7'
local color07='#fef4e4'
local color08='#e87777'
local color09='#da9050'
local color0A='#eac67a'
local color0B='#8cb870'
local color0C='#6ab8b0'
local color0D='#7fa8d4'
local color0E='#b094cc'
local color0F='#cc88aa'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
