# Scheme name: Paris
# Scheme system: base16
# Scheme author: xscriptor (https://github.com/xscriptor)
# Template author: Tinted Theming (https://github.com/tinted-theming)

_gen_fzf_default_opts() {

local color00='#1a0a30'
local color01='#291a3e'
local color02='#352649'
local color03='#c4bdff'
local color04='#9489a2'
local color05='#f7f1ff'
local color06='#f9f4ff'
local color07='#f7f1ff'
local color08='#fc618d'
local color09='#fca37a'
local color0A='#fce566'
local color0B='#7bd88f'
local color0C='#a3f3ff'
local color0D='#a3f3ff'
local color0E='#c4bdff'
local color0F='#ad6d60'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
