# Base16 Atelier Forest Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

_gen_fzf_default_opts() {

local color00='#f1efee'
local color01='#e6e2e0'
local color02='#a8a19f'
local color03='#9c9491'
local color04='#766e6b'
local color05='#68615e'
local color06='#2c2421'
local color07='#1b1918'
local color08='#f22c40'
local color09='#df5320'
local color0A='#c38418'
local color0B='#7b9726'
local color0C='#3d97b8'
local color0D='#407ee7'
local color0E='#6666ea'
local color0F='#c33ff3'

export FZF_DEFAULT_OPTS="
  --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D
  --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C
  --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D
"

}

_gen_fzf_default_opts
